body {
    margin: 0;
    padding: 0;
    background: #ccc
}

section {
    margin-left: 20px;
}

section h1 {
    font-size: 28px;
}

header p {
    font-style: Italic;
}

article p {
    font-size: 24px;
}
