<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="favicon.ico" rel="icon" type="image/x-icon">
  <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/3cd69e2433.js"></script>
  <title>Document</title>
</head>
<body>
<div class="container">
  <app-register-form></app-register-form>
</div>
</body>
</html>
