body {
    font-family: "Lato", sans-serif;
}

form {
    margin: 100px 350px;

}

section {
    display: inline-block;

}

section:nth-child(1) {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url("../Requirements-and-Resources/Images/peak.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    width: 300px;
    height: 451px;
    border-radius: 15px 0 0 15px;
}

section:nth-child(1) h2 {
    margin-top: 0;
    position: fixed;
}

section:nth-child(1) p {
    margin: 320px 0 0 0;
    text-align: center;
}

section:nth-child(1) {
    float: left;
}

section:nth-child(2) {
    border: 3px solid #38082A;
    padding: 58px;
    border-radius: 0 15px 15px 0;
}

section:nth-child(2) label {
    color: rgb(218, 217, 220);
}

section:nth-child(2) input {
    color: rgb(118, 115, 115);
    border-top: none;
    border-right: none;
    border-left: none;
}

section:nth-child(2) button {
    color: white;
    font-weight: bold;
    background: #38082A;
    padding: 7px 15px;
    border-radius: 5px;
}

section:nth-child(2) a {
    color: #38082A;
    text-decoration: none;
}
