<div class="new-theme-border">
  <div class="header-background">
    <span>New Theme</span>
  </div>
  <form>
    <div class="new-theme-title">
      <label for="themeName">Title <span class="red">*</span></label>
      <input id="themeName" name="themeName" type="text">
      <p class="error">
        Theme name is required.
      </p>
      <p class="error">
        Theme name must be at least 5 characters long.
      </p>
    </div>
    <div class="new-theme-content">
      <label for="postText">Post <span class="red">*</span></label>
      <textarea class="height" id="postText" name="postText" rows="8" type="text"></textarea>
      <p class="error">
        The field with your post is required.
      </p>
      <p class="error">
        Post must be at least 10 characters long.
      </p>
    </div>
    <div class="new-theme-buttons">
      <button class="cancel">Cancel</button>
      <button class="public">Post</button>
    </div>

  </form>
</div>
