body {
    margin: 0;
}

nav {
    background: #D3D3D3;

}

ul {
    text-align: center;
    margin: 0;
    padding: 10px;
}

li {
    display: inline-block;
}

a {
    display: block;
    margin-left: 50px;
    color: #42A451;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
}

li a:hover {
    background-color: #009900;
    color: white;
}
